{{ $list := where (where .Site.AllPages "Kind" "in" "page") "Title" "!=" "" }}
{{ $len := (len $list) -}}

const contents = [
{{ range $index, $element := $list -}}
  {{ if ne $index 0 }},{{ end }}{
    "id": {{ $index }},
    "tag": "{{ .Lang }}",
    "href": "{{ .RelPermalink }}",
    "title": {{ .Title | jsonify }},
    {{ with .Description -}}
    "description": {{ . | jsonify }},
    {{ else -}}
    "description": {{ printf "%s..." (substr .Summary 0 30) | plainify | jsonify }},
    {{ end -}}
    "content": {{ .Plain | jsonify }}
  }
{{ end -}}
];